@model NuGetGallery.Dashboard.ViewModel.Environments.ShowViewModel
@{
    ViewBag.Title = "View";
}

<div class="page-header">
    <h1>@Model.EnvironmentTitle <small class="hidden-phone">Detailed Status</small></h1>
</div>
<p>Nothing to see here. Yet...</p>
