@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NuGetDashboard.Model.DefaultViewModel>
@{
    var tokenJson = "";
    if(Model.User != null) {
        tokenJson = Newtonsoft.Json.JsonConvert.SerializeObject(Model.User);
    }
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>NuGet Gallery Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/public/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/public/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/public/css/Master.css" rel="stylesheet" />
</head>
<body data-user="@tokenJson">
    <nav id="site-header" class="navbar navbar-static-top">
        <div class="navbar-inner">
            <ul class="nav pull-right">
                <li><a href="@Model.Configuration.LoginPageUrl">Administrator Login</a></li>
            </ul>
            <a class="brand" href="/">NuGet Gallery Dashboard</a>
            <ul class="nav">
                <li data-menu="app-packages"><a href="/deployments/"><i class="icon-cloud"></i>Site Packages</a></li>
                <li data-menu="ops"><a href="/operations/ "><i class="icon-cogs"></i> Ops Status</a></li>
            </ul>
        </div>
    </nav>

    <div id="root-container" class="container-fluid">
        
    </div>

    <script src="/public/lib/require.js" data-main="/public/app/boot"></script>
</body>
</html>
