@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<NuGetDashboard.Model.DefaultViewModel>
@{
    var tokenJson = "";
    if(Model.User != null) {
        tokenJson = Newtonsoft.Json.JsonConvert.SerializeObject(Model.User);
    }
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>NuGet Gallery Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/public/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/public/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/public/css/Master.css" rel="stylesheet" />
</head>
<body data-user="@tokenJson">
    <nav id="site-header" class="navbar navbar-static-top">
        <div class="navbar-inner">
            <ul class="nav pull-right">
                <li data-bind="if: !isLoggedIn()"><a href="@Model.Configuration.LoginPageUrl">Administrator Login</a></li>
                <li data-bind="if: isLoggedIn()"><span class="nav-link-like" data-bind="text: displayName"></span></li>
            </ul>
            <a class="brand" href="/">NuGet Gallery Dashboard</a>
            <ul class="nav">
                <!-- ko foreach: menuItems -->
                <li data-bind="css: { active: isActive }"><a data-bind="attr: { href: url }, if: isVisible"><i data-bind="attr: { class: icon }"></i><span data-bind="text: title"></span></a></li>
                <!-- /ko -->
            </ul>
        </div>
    </nav>

    <div id="root-container" class="container-fluid">
        
    </div>

    <script src="/public/lib/require.js" data-main="/public/app/boot"></script>
</body>
</html>
