@model NuGetGallery.Dashboard.ViewModel.Home.IndexViewModel
@{
    ViewBag.Title = "Home";
}

<h2>Current Status</h2>

@Html.Partial("_LoadingWidget")

<div data-bind="if: !loading()">
    <!-- ko foreach: rows -->
    <div class="row-fluid" data-bind="foreach: environments">
        <div data-bind="attr: {id: domId}" class="span4 well status">
            <div class="status-icon pull-left" data-bind="css: { 'status-up': (!loading() && isUp()), 'status-warning': (!loading() && !isUp() && !isDown()), 'status-down': (!loading() && isDown()), 'status-unknown': loading() }">
                <i data-bind="attr: { class: icon }"></i>
            </div>
            <h3><a href="#" data-bind="attr: { href: url }, text: title" target="_blank"></a></h3>
            <p data-bind="text: description"></p>
            <p data-bind="if: !loading()" class="status-time">As of <span data-bind="text: lastUpdatedString"></span></p>
            <div class="status-detail-header" data-bind="if: !loading()">
                <a href="#" data-toggle="collapse" data-bind="attr: {'data-target': '#' + domId + ' .status-detail-header .status-detail'}">
                    <b class="pull-right caret"></b>
                    Details...
                </a>
                <div class="collapse status-detail">
                    <table class="table">
                        <tbody data-bind="foreach: pingResults">
                            <tr>
                                <td>
                                    <i data-bind="css: { 'icon-thumbs-up': result(), 'icon-thumbs-down': !result() }"></i>
                                    <span data-bind="text: resultMessage"></span>
                                </td>
                                <td data-bind="text: title" />
                                <td data-bind="text: detail" />
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <button class="btn btn-small" data-bind="click: load"><i class="icon-refresh"></i> Refresh</button>
        </div>
    </div>
    <!-- /ko -->
</div>

@section BottomScripts {
    <script src="~/Scripts/app/home.js"></script>
}