@model NuGetGallery.Dashboard.ViewModel.Home.IndexViewModel
@{
    ViewBag.Title = "Home";
}

<div class="page-header">
    <h1>Current Status <small class="hidden-phone">Is NuGet.org up?</small></h1>
</div>

@Html.Partial("_LoadingWidget")

<div data-bind="if: !loading()">
    <!-- ko foreach: rows -->
    <div class="row-fluid" data-bind="foreach: environments">
        <div data-bind="attr: {id: domId}" class="span4 hero-unit hero-small status">
            <div class="status-icon pull-left" data-bind="css: { 'status-up': (!loading() && isUp()), 'status-warning': (!loading() && !isUp() && !isDown()), 'status-down': (!loading() && isDown()), 'status-unknown': loading() }">
                <i data-bind="attr: { class: icon, title: statusDetail }"></i>
            </div>
            <h3><a href="#" data-bind="attr: { href: url }, text: title" target="_blank"></a></h3>
            <div class="clear">
                <p data-bind="text: description"></p>
                <div class="alert" data-bind="text: oneLineStatus, css: { 'visible-desktop': (!loading() && isUp()), 'alert-success': (!loading() && isUp()), 'alert-error': (!loading() && isDown()) }">
                </div>
                <p class="status-time visible-desktop">
                    As of 
                <span data-bind="visible: !loading(), text: lastUpdatedString"></span>
                    <span data-bind="visible: loading">???</span>
                </p>
                <button class="btn" data-bind="click: load"><i class="icon-refresh"></i> Refresh</button>
            </div>
        </div>
    </div>
    <!-- /ko -->
</div>

@section BottomScripts {
    <script src="~/Scripts/app/home.js"></script>
}